.post-body {
    max-width: 800px;
    margin: auto;
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.date {
    color: #999;
}

ul li {
    padding-top: 10px;
}
